@import 'bootstrap';
@import "font-awesome";

body {
  background-color: black;
  color: white;
}

.btn{
  background-color: #f98907;
  border-color: black;
  color: black;
}
.btn:hover {
  background-color: #ffb837;
  color: black;
}

.titulo {
  color: #f98907;
}

.form-group {
  border-radius: 50%;
}
.bg-green {
  background-color: #8df67f;
}
.bg-red {
  background-color: #ff6464;
}
// .gris {
//   background-color: #c8c8c8;
// }
